[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/balancer-v2-monorepo"]
	path = lib/balancer-v2-monorepo
	url = https://github.com/balancer/balancer-v2-monorepo
